<div ng2FileDrop
  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
  (fileOver)="fileOverBase($event)"
  [uploader]="uploader1"
  class="well my-drop-zone">

  <p>基礎部</p>

  <tr *ngFor="let item of uploader1.queue">
    <div class="media-left">
      <!-- preview用のdirective -->
      <img src="" imgPreview [image]="item?._file" [uploader]="uploader1" [partCode]="01" class="media-object" />
    </div>
    <div class="media-body">
      <p>{{ item?.file?.name }}</p>
    </div>
  </tr>
</div>


<div ng2FileDrop
  [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
  (fileOver)="fileOverAnother($event)"
  [uploader]="uploader2"
  class="well my-drop-zone">
  <p>柱脚部</p>
  <tr *ngFor="let item of uploader2.queue">
    <div class="media-left">
      <!-- preview用のdirective -->
      <img src="" imgPreview [image]="item?._file" [uploader]="uploader2" [partCode]="00" class="media-object" />
    </div>
    <div class="media-body">
      <p>{{ item?.file?.name }}</p>
    </div>
  </tr>
</div>


<!--
<div ng2FileDrop  [uploader]="uploader">
  <input type="file" ng2FileSelect [uploader]="uploader" multiple />
</div>

<tr *ngFor="let item of uploader.queue">
      <div class="media-left">
        <img src="" imgPreview [image]="item?._file" class="media-object" />
    </div>
    <div class="media-body">
        <p>{{ item?.file?.name }}</p>
    </div>
</tr>


<tr *ngFor="let item of uploader.queue">
      <div class="media-left">
        <img src="" imgPreview [image]="item?._file" class="media-object" />
    </div>
    <div class="media-body">
        <p>{{ item?.file?.name }}</p>
    </div>
</tr>
-->

<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<!--
<button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
<button type="button" (click)="click()" [disabled]="!uploader.getNotUploadedItems().length">
  yeah
</button>
-->


<input id="photo" type="file" />
<button type="button" (click)="upload()">
  upload
</button>

